<div class="player">
  <p class="track-name">{{ state.fileName() }}</p>

  <app-waveform [vm]="waveformVm()" (seek)="onSeek($event)" />

  <app-seek-bar [vm]="seekBarVm()" (seek)="onSeek($event)" />

  <div class="transport">
    <button class="btn stop-btn" (click)="stop()" title="Stop" [disabled]="!state.isLoaded()">
      &#9632;
    </button>
    <button class="btn play-btn" (click)="togglePlay()" [disabled]="!state.isLoaded()">
      @if (state.isPlaying()) {
        &#9646;&#9646;
      } @else {
        &#9654;
      }
    </button>
  </div>

  <app-speed-control [vm]="speedVm()" (speedChange)="onSpeedChange($event)" />

  <div class="divider"></div>

  <app-loop-region
    [vm]="loopVm()"
    (loopToggle)="onLoopToggle()"
    (loopStartChange)="onLoopStartChange($event)"
    (loopEndChange)="onLoopEndChange($event)"
  />
</div>
